<html lang="en">
  <head>
    <title>Github Integration in NestJS</title>
  </head>
  <body>
    
    <!-- <h1>Repo creating app</h1> -->
    <a href="https://github.com/login/oauth/authorize?client_id=ac2f9af0f327d3e097e0&redirect_uri=http://localhost:3000/api/auth/github?path=/&scope=repo">
      Click here to authorize your github and add a repository named new_repo
    </a>
  </body>
</html>